@page "/"
@page "/Tienda"
@page "/Tienda/Productos"

<img src="/images/fondo_index.jpg" class="bg-image img-fluid oi-resize-width p-5" style="max-width: 100%; height:auto"/>
<div class="container card-img-overlay">
    <div class="row">
        <!--images initial web page Zalandu-->
        <div class="col-8">
            <!--"carousel" boostraop-->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">                   
                    <div class="carousel-item active">
                        <img src="/images/img_carousel_1.png" class="d-block w-100 img-fluid" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/img_carousel_2.png" class="d-block w-100 img-fluid" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/img_carousel_3.png" class="d-block w-100 img-fluid" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-4">
            <img src="/images/envio-gratuito.png" class="img-fluid" style="max-width: 85%; max-height: 85%" alt="img" />
        </div>
    </div>
    <div><h5>&nbsp;</h5></div>
</div>


@code{
    

}
