@page "/Cliente/ForgotPassword"
@layout EmptyLayout

<div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-4">
            <EditForm>
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="card w-100 p-3 border border-secondary" style="background-color: snow">
                    <div class="mb-4 card-body">
                        <div class="card-title text-center">
                            <h5 class="card-title">Recuperar Contraseña</h5>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><small>Introduzca el correo electrónico con el que se registró en el portal:</small></p>
                            </div>
                        </div>
                        <div class="form-group form-floating">
                            <InputText type="email" class="form-control" id="inputEmail" placeholder="name@example.com" required />
                            <label for="inputEmail">Correo Electronico</label>
                        </div>
                        <br>
                        <div class="form-row">
                            <button type="submit" class="btn btn-success w-100">Send password reset email</button>
                        </div>
                    </div>
                </div>
            </EditForm>
            <span><small>*Si no recibe el correo compruebe en la bandeja de span :)</small></span>
        </div>
    </div>
</div>

@code {



}
