
@page "/Cliente/ResetPassword"
@layout EmptyLayout

<div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-4">
            <EditForm>
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="card w-100 p-3 border border-secondary" style="background-color: snow">
                    <div class="mb-4 card-body">
                        <div class="card-title text-center">
                            <h5 class="card-title">Change password</h5>
                        </div>
                        <br />
                        <div class="form-group form-floating">
                            <InputText type="password" class="form-control" id="inputPassword" placeholder="Password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required />
                            <label for="inputPassword">New Password</label>
                        </div>
                        <div class="form-group form-floating">
                            <InputText type="password" class="form-control" id="inputconfirPassw" placeholder="ConfirmPassword" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required />
                            <label for="inputconfirmPassw">Confirm Password</label>                            
                        </div>
                        <br>
                        <div class="form-row">
                            <button type="submit" class="btn btn-success w-100">Change password</button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {


}
